

body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER STYLES NAV */

#website-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo menu"
                          "nav nav";
    align-items: center;
    padding: 20px;
    position: relative;
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    flex-basis: auto;
    grid-area: logo;
}

.mobile-menu {
    width: 30px;
    position: absolute;
    right: 0;
    grid-area: menu;
}

.mobile-menu:hover {
    cursor: pointer;
}

nav {
    display: none;
    grid-area: nav;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
}

.link {
    text-align: center;
}

.link a {
    color: #000000;
    text-decoration: none;
}

.link a {
    cursor: pointer;
}

.divider {
    display: none;
}

/* MAIN styles */

#page-body {
    background-image: url('../img/blooming-flowers.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    min-height: 100vh;
}

#intro-section {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 20px;
}

#intro-section .heading-1 {
    font-size: 50px;
    line-height: 55px;
    max-width: 500px;
    margin-bottom: 30px;
}

#intro-section .heading-2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}


/* CONTACT SECTION */

#contact-section {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 70px 40px;
}

#send-mail {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 100%;
    margin-bottom: 50px;
}

#send-mail input , textarea {
    background-color: #000000;
    color: #FFFFFF;
    border: solid #ffffff 2px;
    height: 50px;
    width: 100%;
    min-width: 300px;
    padding: 10px;
    font-weight: 700;
}

textarea#message {
    height: 180px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

#send-mail input::placeholder {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
    font-weight: 700;
}

#send-mail button {
    width: 100px;
    height: 50px;
}

#other-info {
    width: 100%;
}

#other-info ul {
    display: grid;
    gap: 20px;
}

#other-info ul li a {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr;
}

#other-info a {
    color: white;
    text-decoration: none;
}


/* SKILLS STYLES

#skills-section {
    padding: 40px 40px;
}

#skills-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
}

.skill {
    background-image: url('../img/blooming-flowers.png');
    background-size: cover;
    width: 80%;
    max-width: 350px;
}

.skill-stat-list {
    background-color: #000000d6;
    color: #ffffff;
    padding: 40px 30px;
    display: grid;
    gap: 30px;
    height: 200px;
}

.skill-stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.skill-stat .hearts img {
    width: 18px;
}

.rating {
    position: absolute;
    right: 0;
}

.skill .caption {
    background-color: #FFFFFF;
    padding: 20px;
    height: 150px;
}

.skill .caption p {
    padding: 10px;
    width: 90%;
}

.skill .caption .heading-3 {
    font-size: 24px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.caption .heading-3 img {
    position: absolute;
    right: 0;
} */

/* EXTRA */
.active {
    border-bottom: solid #F11717 5px;
}

.primary-button {
    color: black;
    background-color: #F0FD71;
    border: none;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.primary-button:hover {
    cursor: pointer;
}

#work-section {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
}

#work-div {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    padding: 50px;
    gap: 50px;
}

#work-section .sub-heading-1 {
    font-size: 2em;
    text-align: center;
}



/* FOOTER STYLES */

#website-footer {
    background-color: #F0FD71;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 40px 50px;
}

#social-links {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat( 3 , auto);
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

#social-links a {
    color: #000000;
    text-decoration: none;
}


#resume {
    font-size: 20px;
    font-weight: 700;
}

#resume a {
    color: #000000;
    text-decoration: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

/* Tab Styles */



@media screen and (min-width : 750px) {
    #website-header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "logo nav";
        align-items: center;
        padding: 20px;
        position: relative;
    }

    #mobile-menu {
        display: none;
    }
    
    nav {
        display: block;
    }

    .nav-links {
        grid-template-columns: repeat( 5 , auto);
        justify-content: right;
        font-weight: 700;
    }

    .divider {
        display: block;
    }

    #intro-section {
        text-align: center;
    }

    #intro-section .heading-1 {
        font-size: 50px;
        line-height: 55px;
        max-width: none;
        margin-bottom: 30px;
        text-align: center;
    }

    #intro-section .heading-2 {
        text-align: center;
        font-size: 24px;
    }

    .primary-button {
        font-size: 20px;
    }

    #website-footer {
        background-color: #F0FD71;
        display: grid;
        grid-template-columns: auto auto;
        padding: 40px 50px;
        display: relative;
        justify-items: start;
    }

    #resume {
        position: absolute;
        right: 50px;
    }
}

/* STYLES FOR CONTACT PAGE TO BE SET */
@media screen and (min-width : 850px) {
    #contact-section {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 70px 40px;
        gap: 50px;
    }
}



/* Desktop Styles */


@media screen and (min-width : 1150px) {
    #website-header {
        padding: 50px 100px;
    }

    .logo-text {
        font-size: 64px;
    }

    .nav-links {
        font-size: 20px;
        gap: 50px;
    }

    #intro-section {
        padding: 50px 100px;
    }
    
    #other-info a p {
        font-size: 20px;
    }

    #other-info img {
        width: 25px;
    }

    #skills-list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        justify-content: space-between;
    }
}





/* Set Extra Pages to No Display */
#intro-section {
    display: none;
}

#contact-section {
    display: none;
}

#work-section {
    display: none;
}